<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faceplus Image Analysis</title>
    <meta name="author" content="Benjamin Ramirez">
    <!-- using Bootstrap for styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./static/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<!-- =============PAGE CONTENT ======================= -->
<div class="container" id="content">

    <div class="row text-center">
        <h1>FacePlus API Image Analysis</h1>
        <hr>
    </div>

    <div class="row">
        <!-- the input section -->
        <div class="col-sm-10 col-sm-offset-1">
            <div class="form-group">
                <label for="input-url">Enter URL:</label>
                <input type="text" class="form-control" id="input-url">
                <button id="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- The output section -->
        <div class="col-sm-10 col-sm-offset-1 text-center">

            <h2>Faceplus Response:</h2>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div id="faceplus-image" class="text-center">
                        Click submit you must.
                    </div>
                    <div id="faceplus-gender"></div>
                    <div id="faceplus-age"></div>
                    <div id="faceplus-race"></div>
                    <div id="faceplus-smiling"></div>
                    <div id="faceplus-glasses"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <br>
            Leveraging the Mashape API:
            <a href="https://market.mashape.com/faceplusplus/faceplusplus-face-detection">
                https://market.mashape.com/faceplusplus/faceplusplus-face-detection
            </a>
        </div>
    </div>
</div>

<!-- =================== END OF PAGE CONTENT =================== -->



<!-- =================== JavaScript ========================= -->
<!-- scripts, jQuery for AJAX API calls-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<!-- Bootstrap's js script -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- application script to communicate with the Flask backend -->
<script type="text/javascript" src="./static/js/faceplus_call.js"></script>

</body>
</html>